<div class="container container--alt">
	<div class="main main--primary main--alt">
		<div class="shell">
			<div class="main__body">
				<div class="content">
					<div class="content__body">
						<section class="section-default section-default--contacts">
							<header class="section__head">
								<h2 class="section__title">إتصل بنا</h2>
								<div class="section__head-inner">
									<nav class="breadcrumbs">
										<ul>
											<li>
												<a routerLink="/">الصفحة الرئيسية</a>
											</li>

											<li>
												<a>إتصل بنا</a>
											</li>
										</ul>
									</nav>
								</div>
							</header>
							<div class="section__body">
								<div class="cols">
									<div class="col col--1of2" *ngIf="showMessageUs">
										<div class="section__content">
											<div class="widget-form">
												<div class="form form--contacts js-form-message">
													<form id="contactForm" (submit)="SubmitContact($event, contactForm.value)" #contactForm="ngForm" ngNativeValidate>
														<div class="form__inner">
															<div class="form__head">
																<h4>لارسال تعليقاتكم واستفسارتكم يرجى
																	<br>تعبئة النموذج ادناه.</h4>
															</div>
															<div class="form__body">
																<div class="form__row">
																	<div class="form__cols">
																		<div class="form__col">
																			<label for="fullName" class="form__label">الاسم الكامل *</label>
																			<div class="form__controls">
																				<input type="text" class="field" name="fullName" id="fullName" required [(ngModel)]="contactFormModel.fullName" />
																			</div>
																		</div>
																		<div class="form__col">
																			<label for="countryId" class="form__label">البلد *</label>
																			<div class="form__controls">
																				<div class="select select-custom select-custom--large" data-label="&nbsp;">
																					<select name="countryId" id="countryId" required [(ngModel)]="contactFormModel.countryId">
																						<option value="">البلد</option>
																						<option value="{{item?.id}}" *ngFor="let item of countries">{{item?.title}}</option>
																					</select>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="form__row">
																	<div class="form__cols">
																		<div class="form__col">
																			<label for="field-phone-3#" class="form__label">الهاتف</label>
																			<div class="form__controls">
																				<input type="text" class="field" name="phone" id="field-phone-3#" [(ngModel)]="contactFormModel.phone" />
																			</div>
																		</div>
																		<div class="form__col">
																			<label for="field-email-4#" class="form__label">البريد الالكتروني *</label>

																			<div class="form__controls">
																				<input type="email" class="field" name="email" id="field-email-4#" required [(ngModel)]="contactFormModel.email" />
																			</div>
																		</div>
																	</div>
																</div>
																<div class="form__row">
																	<label for="field-message-1#" class="form__label">الرسالة *</label>

																	<div class="form__controls">
																		<textarea class="textarea" name="message" id="field-message-1#" required [(ngModel)]="contactFormModel.message"></textarea>
																	</div>
																</div>
																<div class="form__row">
																	<a class="link-avatar">
																		<input type="file" class="writer-image-input" name="image" *ngIf="imageUpload.status == 'empty'" [(ngModel)]="contactFormModel.image"
																		 (change)="image_upload($event)" accept=".pdf, .doc, .docx" />
																		<!-- <span class="plus" *ngIf="imageUpload.status != 'uploading'">
																				<i class="fa fa-plus" aria-hidden="true" *ngIf="imageUpload.status == 'empty'"></i>
																				
																				<i class="fa fa-pencil" aria-hidden="true" *ngIf="imageUpload.status == 'done'"></i>
																			</span> -->
																		<span class="image">
																			<span *ngIf="imageUpload.status == 'empty'">تحميل</span>
																			<span *ngIf="imageUpload.status == 'done'">{{imageUpload.name}}</span>
																			<span class="delete-image" *ngIf="imageUpload.status == 'done'" (click)="delete_image()">
																				<i class="fa fa-trash" aria-hidden="true"></i>
																			</span>
																			<!-- <img src="../assets/images/temp/writer-inner.png" alt="" *ngIf="imageUpload.status == 'empty'"> -->
																			<span class="writer-image-progress" *ngIf="imageUpload.status == 'uploading'">{{imageUpload.progress}}%</span>
																			<img src="{{imageUpload.thumbnail}}" alt="" *ngIf="imageUpload.status == 'done'">
																		</span>
																		<!-- <span class="text" *ngIf="imageUpload.status == 'empty'">Add Picture</span> -->
																	</a>
																</div>
																<div class="form__row">
																	<re-captcha (resolved)="resolved($event)" siteKey="{{RECAPTCHA_SITE_KEY}}"></re-captcha>
																</div>
															</div>
															<div class="form__actions">
																<input type="submit" value="أرسل" class="form__btn btn btn-default btn-default--wide">
																<span class="form__notice hidden-xs">إلزامي *</span>
															</div>
														</div>
														<div class="form__message">
															<h2>شكرا</h2>
															<h4>سوف نعود إليكم قريبا</h4>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="col col--1of2">
										<div class="section__content">
											<div class="widget-contacts">
												<header class="widget__head" *ngIf="Model">
													<h4>{{Model[0]?.name}}</h4>
													<h5>{{Model[0]?.position}}</h5>
													<p class="text-en">
														<a>
															<p [innerHTML]="Model[0]?.email"></p>
															<i class="fa fa-envelope" aria-hidden="true"></i>
														</a>
													</p>
												</header>
												<div class="widget__body" *ngIf="Model && Model.length > 1">
													<ul class="list-contacts">
														<li *ngFor="let item of Model?.slice(1)">
															<h5>{{item?.position}}</h5>
															<p class="text-en">
																<a>
																	<p [innerHTML]="item?.email"></p>
																	<i class="fa fa-envelope" aria-hidden="true"></i>
																</a>
															</p>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<app-sidebar [globalModel]="globalModel"></app-sidebar>
			</div>
		</div>
	</div>
</div>