<!-- <div class="books" (click)="FlipBook()">
  <div class="thumbnail" data-book-id="book1">
      Book 1
  </div>
</div> -->

<div class="container container--alt">
		<div class="main main--primary main--alt">
			<div class="shell">
				<div class="main__body">
					<div class="content">
						<div class="content__body">
							<section class="section-breadcrumbs">
								<div class="section__body">
									<nav class="breadcrumbs">
										<ul>
											<li>
												<a routerLink="/">الصفحة الرئيسية</a>
											</li>
											
											<li>
												<a>الأعداد</a>
											</li>
										</ul>
									</nav><!-- /.breadcrumbs -->
								</div><!-- /.section__body -->
							</section><!-- /.section-breadcrumbs -->

							<section class="section-caricatures section-caricatures--second" *ngIf="Model?.latestEntry">
								<div class="section__body">
									<div class="widget-banner visible-xs-block">
										<a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
											<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt=""><!-- height="50" width="300" -->
										</a><!-- /.widget__image -->
									</div><!-- /.widget-banner -->
									
									<div class="cols">
										<div class="col col--size-9" *ngIf="Model?.latestEntry?.image && Model?.latestEntry?.image != null">
											<div class="section__image">
												<img src="{{CONTENT_PATH + '/Issue/' + Model?.latestEntry?.image}}" height="483" width="313" alt="">
											</div><!-- /.section__image -->
										</div><!-- /.col col--size-9 -->
										
										<div class="col col--size-10">
											<div class="section__content">
												<!-- <a target="_blank" [attr.href]="CONTENT_PATH + '/Issue/'+ Model?.latestEntry?.pdf + '/arabic.html'" class="btn btn-default btn-default--xlarge">عدد اليوم </a> -->
												
												<a *ngIf="!(item?.id > 1454 && item?.id <= 3176)" target="_blank" [attr.href]="Model?.latestEntry?.link" class="btn btn-default btn-default--xlarge">عدد اليوم </a>
												<a *ngIf="(item?.id > 1454 && item?.id <= 3176)" target="_blank" routerLink="/Issues/Details/{{item?.id}}" class="btn btn-default btn-default--xlarge">عدد اليوم </a>

												<h2 *ngIf="!(item?.id > 1454 && item?.id <= 3176)"><a target="_blank" [attr.href]="Model?.latestEntry?.link">العدد رقم {{Model?.latestEntry?.title}}</a></h2>
												<h2 *ngIf="(item?.id > 1454 && item?.id <= 3176)"><a target="_blank" routerLink="/Issues/Details/{{item?.id}}">العدد رقم {{Model?.latestEntry?.title}}</a></h2>

												<ul class="list-meta">
													<li>
														<a>
															<span class="text-en">{{Model?.latestEntry?.date | amDateFormat:'LL' }}</span>
															<i class="fa fa-clock-o" aria-hidden="true"></i>
														</a>
													</li>
												</ul><!-- /.list-meta -->

												<ul class="list-squares list-squares--medium" *ngIf="Model.latestEntry?.pages">

													<li *ngFor="let page of Model.latestEntry?.pages">
														<a *ngIf="page?.pdf == null">{{page?.title}}</a>
														<a *ngIf="page?.pdf != null" target="_blank" [attr.href]="CONTENT_PATH + '/IssuePage/'+ page?.pdf">{{page?.title}}</a>
													</li>
												
												</ul><!-- /.list-squares -->
                        
											</div><!-- /.section__content -->
										</div><!-- /.col col--size-10 -->
									</div><!-- /.cols -->
								</div><!-- /.section__body -->
							</section><!-- /.section-caricatures -->

							<section class="section-issues">
								<div class="section__bar">
									<span>إختر</span>
									
									<div class="select select-custom" data-label="الشهر">
										<select name="select-1#" id="select-1#" (change)="FilterBy($event.target.value, selectedYear, selectedIssueNb)">
											<option value="0">إختر الشهر</option>
											<option [selected]="selectedMonth == month?.id" *ngFor="let month of months" value="{{month?.id}}">{{month?.name}}</option>
										</select>
									</div><!-- /.select -->

									<div class="select select-custom" data-label="السنة">
										<select name="select-2#" id="select-2#" (change)="FilterBy(selectedMonth, $event.target.value, selectedIssueNb)">
											<option value="0">إختر السنة</option>
											<option [selected]="selectedYear == group" *ngFor="let group of yearsDropdown" value="{{group}}">{{group}}</option>
										</select>
									</div><!-- /.select -->

									<div class="search select ">
										<div class="search__body">
											<div class="search__field">
												<input id="issueNbField" name="issueNb" placeholder="البحث بحسب رقم العدد ..." type="search" value="{{selectedIssueNb}}">
											</div>
											<div class="search__btn" (click)="FilterBy(selectedMonth, selectedYear, 'issue')">
												<i class="fa fa-search" aria-hidden="true"></i>
											</div>
										</div>
									</div>


									<a class="btn btn-default btn-default--xsmall" (click)="FilterBy(0, 0, '0')">إلغاء البحث</a>
									<a class="btn btn-default btn-default--xsmall" target="_blank" routerLink="/ArchiveViewer">تصفح الارشيف</a>


								</div><!-- /.section__bar -->

								<div class="section__body" *ngIf="yearslist">
									
									<div *ngFor="let group of yearslist">
										<div *ngIf="group?.issues.length">
												<h2>{{group.year}}</h2>
												
												<div class="issues">

													<div class="issue" *ngFor="let item of group.issues">
														<div class="issue__inner">
															<h4>العدد {{item?.title}}</h4>
														
															<ul class="list-meta">
																<li>
																	<a>
																		<span class="text-en">{{item?.date | amDateFormat:'LL' }}</span>                                  
																		<i class="fa fa-clock-o" aria-hidden="true"></i>
																	</a>
																</li>
															</ul><!-- /.list-meta -->
														
															<!-- <a *ngIf="item?.year > 2009 && !(item?.id > 1454 && item?.id <= 3176)" target="_blank" [attr.href]="CONTENT_PATH + '/Issue/'+ item?.pdf + '/arabic.html'" class="btn btn-plus btn-eye">
																<i class="fa fa-eye" aria-hidden="true"></i>
															</a> -->
															<!-- <a *ngIf="item?.year > 2009" target="_blank" [attr.href]="CONTENT_PATH + '/Issue/'+ item?.pdf + '.pdf'" download class="btn btn-plus">
																<i class="fa fa-arrow-down" aria-hidden="true"></i>
															</a> -->
															<a *ngIf="item?.year > 2009 && item?.year != 2012 && !(item?.id > 1454 && item?.id <= 3176)" target="_blank" [attr.href]="item?.link" download class="btn btn-plus">
																<i class="fa fa-arrow-down" aria-hidden="true"></i>
															</a>

															<a *ngIf="item?.year <= 2009 || item?.year == 2012" target="_blank" routerLink="/Issues/Details/{{item?.id}}" class="btn btn-plus btn-eye">
																<i class="fa fa-eye" aria-hidden="true"></i>
															</a>

															<a *ngIf="item?.id > 1454 && item?.id <= 3176" target="_blank" routerLink="/Issues/Details/{{item?.id}}" class="btn btn-plus btn-eye">
																<i class="fa fa-eye" aria-hidden="true"></i>
															</a>

														</div><!-- /.issue__inner -->
													</div><!-- /.issue -->

												</div><!-- /.issues -->
										</div>
									</div>
									
								</div><!-- /.section__body -->
							</section><!-- /.section-issues -->
						</div><!-- /.content__body -->

						<div class="content__actions">
							<a (click)="load_more_issues()" class="btn btn-default btn-default--large loadMore">المزيد <i class="fa fa-plus" aria-hidden="true"></i></a>
						</div><!-- /.content__actions -->
					</div><!-- /.content -->
				
					<app-sidebar [globalModel]="globalModel"></app-sidebar>
				</div><!-- /.main__body -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->