<section class="section-default section-default--alt {{subCategory?.categoryTemplateId == category_template_whiteboxes ? 'section-default--political' : ''}} {{subCategory?.categoryTemplateId == category_template_2_6 ? 'section-default--localities' : ''}} {{subCategory?.categoryTemplateId == category_template_1_3_8 ? 'section-default--column' : ''}}"
  *ngFor="let subCategory of SubCategoryModels; let index = index;">

  <!-- in third sub category -->
  <div class="section__widget" *ngIf="index == 2">
    <div class="widget-banner visible-xs-block">
      <a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
        <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt=""><!-- height="50" width="300" -->
      </a>
      <!-- /.widget__image -->
    </div>
    <!-- /.widget-banner -->
  </div>
  <!-- /.section__widget -->

  <header class="section__head">
    <h3 class="section__title">
      <a routerLink="/Category/{{subCategory?.id}}/{{subCategory?.customUrlTitle}}" class="btn btn-plus"><i class="fa fa-plus" aria-hidden="true"></i></a>      
      <a routerLink="/Category/{{subCategory?.id}}/{{subCategory?.customUrlTitle}}">{{subCategory?.title}}</a>
    </h3>
    <!-- /.section__title -->
  </header>
  <!-- /.section__head -->

  <div class="section__body" *ngIf="subCategory?.whiteBoxArticles && subCategory?.whiteBoxArticles.length">
    <div class="articles articles--medium" app-articles [entries]="subCategory?.whiteBoxArticles">
    </div>
    <!-- /.articles articles--medium -->
  </div>
  <!-- /.section__body -->

  <footer class="section__foot" *ngIf="subCategory?.smallWhiteBoxArticles && subCategory?.smallWhiteBoxArticles.length">
    <ul class="list-squares list-squares--small">
      <li *ngFor="let item of subCategory?.smallWhiteBoxArticles"><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></li>

    </ul>
    <!-- /.list-squares -->
  </footer>
  <!-- /.section__foot -->

  <div class="section__body" *ngIf="subCategory?.middleBigArticles && subCategory?.middleBigArticles.length">
    <div class="cols">
      <div class="col col--1of2" *ngFor="let item of subCategory?.middleBigArticles">
        <div class="section__content">

          <article class="article-alt article-alt--medium template__listing template_232_140 big-on-mobile">
            <div class="article__image {{item?.isVideo ? 'article__video' : ''}} article-bg-image">
              <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
              <span *ngIf="item?.isVideo" class="btn btn-play btn-play--xsmall"></span>
              <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/232x140xo/{{item?.image}}" height="140" width="232" alt="">
              </a>
            </div>
            <!-- /.article__image -->

            <div class="article__content">
              <h2><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h2>

              <div class="article__content-bar">
                <ul class="list-meta">
                  <li *ngIf="item?.writer != null">
                      <a routerLink="/Writer/{{item.writer?.id}}/{{item.writer?.customUrlTitle}}">
                        <span>{{item.writer?.name}}</span>                    
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                    <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                    
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </a>
                  </li>
                </ul>
                <!-- /.list-meta -->
              </div>
              <!-- /.article__content-bar -->
            </div>
            <!-- /.article__content -->
          </article>
          <!-- /.article -->

        </div>
        <!-- /.section__content -->
      </div>
      <!-- /.col col--1of2 -->
    </div>
    <!-- /.cols -->
    <div class="cols" *ngIf="subCategory?.middleSmallArticles">
      <div class="col col--1of2">
        <div class="section__content">
          <ol class="news-items news-items--small">
            <li class="news-item template__listing template_142_85 template_without_padding" *ngFor="let item of subCategory?.middleSmallArticles.slice(0,3)">
              <div class="news__image__wrapper">
                <div class="news__image article-bg-image">
                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                  <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/142x85xo/{{item?.image}}" height="85" width="142" alt="">
                </a>
                </div>
              </div>
              <!-- /.news__image -->

              <div class="news__content">
                <h6><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h6>

                <ul class="list-meta">
                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                      
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">500</span>
                      
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <!-- /.list-meta -->
              </div>
              <!-- /.news__content -->
            </li>
            <!-- /.news-item -->
          </ol>
          <!-- /.news-items -->
        </div>
        <!-- /.section__content -->
      </div>
      <!-- /.col col--1of2 -->

      <div class="col col--1of2">
        <div class="section__content">
          <ol class="news-items news-items--small">
            <li class="news-item template__listing template_142_85 template_without_padding" *ngFor="let item of subCategory?.middleSmallArticles.slice(3)">
              <div class="news__image__wrapper">
                <div class="news__image article-bg-image">
                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                  <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/142x85xo/{{item?.image}}" height="85" width="142" alt="">
                </a>
                </div>
              </div>
              <!-- /.news__image -->

              <div class="news__content">
                <h6><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h6>

                <ul class="list-meta">
                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                      
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">500</span>
                      
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <!-- /.list-meta -->
              </div>
              <!-- /.news__content -->
            </li>
            <!-- /.news-item -->
          </ol>
          <!-- /.news-items -->
        </div>
        <!-- /.section__content -->
      </div>
      <!-- /.col col--1of2 -->
    </div>
    <!-- /.cols -->
  </div>
  <!-- /.section__body -->



  <div class="section__body" *ngIf="subCategory?.categoryTemplateId == category_template_1_3_8">
    <div class="cols">
      <div class="col col--1of2" *ngIf="subCategory?.bottomBigArticle">
        <div class="section__content">
          <article class="article-alt article-alt--medium template_492_357 template__listing">
            <div class="article__image fullsize-image">
              <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/492x357xo/{{subCategory.bottomBigArticle?.image}}"
                height="357" width="492" alt="">
            </div>
            <!-- /.article__image -->

            <div class="article__content">
              <h2>{{subCategory.bottomBigArticle?.title}}</h2>

              <div class="article__content-bar">
                <ul class="list-meta">
                  <li>
                    <a routerLink="/Details/{{subCategory.bottomBigArticle?.id}}/{{subCategory.bottomBigArticle?.customUrlTitle}}">
                      <span class="text-en">{{subCategory.bottomBigArticle?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                      
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{subCategory.bottomBigArticle?.id}}/{{subCategory.bottomBigArticle?.customUrlTitle}}">
                      <span class="text-en">500</span>
                      
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <!-- /.list-meta -->

                <a routerLink="/Details/{{subCategory.bottomBigArticle?.id}}/{{subCategory.bottomBigArticle?.customUrlTitle}}" class="link link-more">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i> إقرأ المزيد
                </a>
              </div>
              <!-- /.article__content-bar -->
            </div>
            <!-- /.article__content -->
          </article>
          <!-- /.article -->
        </div>
        <!-- /.section__content -->
      </div>
      <!-- /.col col--1of2 -->

      <div class="col col--1of2" *ngIf="subCategory?.bottomSmallArticles">
        <div class="section__content">
          <ol class="news-items news-items--small news-items--articles">
            <li class="news-item template_142_85 template__listing big-on-mobile" *ngFor="let item of subCategory?.bottomSmallArticles">
              <div class="news__image__wrapper">
                <div class="news__image article-bg-image">
                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                    <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/142x85xo/{{item?.image}}" height="85" width="142" alt="">
                  </a>
                </div>
              </div>
              <!-- /.news__image -->

              <div class="news__content">
                <h6><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h6>

                <ul class="list-meta">
                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                      
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                      <span class="text-en">500</span>
                      
                      <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
                <!-- /.list-meta -->
              </div>
              <!-- /.news__content -->
            </li>
            <!-- /.news-item -->

          </ol>
          <!-- /.news-items -->
        </div>
        <!-- /.section__content -->
      </div>
      <!-- /.col col--1of2 -->
    </div>
    <!-- /.cols -->
  </div>
  <!-- /.section__body -->

  <footer class="section__foot" *ngIf="subCategory?.bottomArticles">
    <ul class="list-squares list-squares--small list-squares--xsmall">
      <li *ngFor="let item of subCategory?.bottomArticles"><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></li>
    </ul>
    <!-- /.list-squares -->
  </footer>
  <!-- /.section__foot -->



  <div class="section__actions-alt visible-xs-block">
    <a routerLink="/Category/{{subCategory?.id}}/{{subCategory?.customUrlTitle}}" class="link link--red link-more">
      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>المزيد
    </a>
  </div>
  <!-- /.section__actions-alt -->

  <!-- after first subcategory -->
  <div class="section__bar" *ngIf="index == 0">
    <a class="section__image hidden-xs" *ngIf="sharedModel?.leaderboardBanner" target="_blank" [attr.href]="sharedModel.leaderboardBanner?.link">
      <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.leaderboardBanner?.image}}" height="90" width="728" alt="">
    </a><!-- /.section__image -->

    <a class="section__image visible-xs-block" *ngIf="sharedModel?.mobileMpuBanner" target="_blank" [attr.href]="sharedModel.mobileMpuBanner?.link">
        <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileMpuBanner?.image}}" alt=""> <!-- height="250" width="300" -->
    </a>
    <!-- /.section__image -->
  </div>
  <!-- /.section__bar -->

</section>
<!-- /.section-default -->