<header class="header header--small" *ngIf="sharedModel?.currentRoute == 'notFound'">
	<div class="shell">
		<div class="header__body">
			<a routerLink="/" class="logo logo--default" [style.background-image]="'url(' + sharedModel?.logoDesktop + ')'"></a>
		</div>
	</div>
</header>
<header class="headerPrint header--large fixed print" *ngIf="sharedModel?.currentRoute == 'print'">
	<div class="shell">
		<div class="header__body">
			<a class="logo logo--default" routerlink="/">
				<img src="../assets/images/redLogo.png" alt="logo">
			</a>
		</div>
	</div>
</header>
<header *ngIf="sharedModel?.currentRoute != 'notFound' && sharedModel?.currentRoute != 'print'" class="header {{sharedModel?.currentRoute == 'home' ? 'header--default' : 'header--large'}}">
	<div class="shell">
		<div class="header__body">
			<a href="#" class="btn btn-search">
				<i class="fa fa-search" aria-hidden="true"></i>
			</a>
			<a routerLink="/" class="logo logo--default"></a>
			<div class="header__aside">
				<div class="header__aside-inner">
					<div class="header__bar">
						<nav class="nav-utilities">
							<ul>
								<!-- <li>
										<a routerLink="/">العدد 3750 - الثلاثاء, 4 تشرين الأول 2016 <i class="fa fa-clock-o" aria-hidden="true"></i></a>
									</li> -->
								<li>
									<a routerLink="/AboutUs">من نحن</a>
								</li>
								<li>
									<a routerLink="/ContactUs">اتصل بنا</a>
								</li>
							</ul>
						</nav>
						<div class="socials socials--medium" *ngIf="globalModel?.socialMedia && globalModel?.socialMedia?.length > 0">
							<ul>
								<li>
									<a target="_blank" href="{{BASE_URL + 'Rss'}}">
										<i class="fa fa-rss" aria-hidden="true"></i>
									</a>
								</li>
								<li *ngFor="let item of globalModel?.socialMedia">
									<a target="_blank" href="{{item.link}}">
										<i class="fa {{'fa-' + item.className}}" aria-hidden="true"></i>
										<!-- fa-instagram,fa-youtube-play,fa-linkedin,fa-google-plus,fa-twitter,fa-facebook -->
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="header__inner">
						<div class="search search--large">
							<form (submit)="onSearch()" method="POST">
								<div class="search__body">
									<label for="q" class="hidden">Search</label>
									<div class="search__field">
										<input type="search" name="keyword" id="q" value="" placeholder="البحث عن كلمة ...">
									</div>
									<!-- <div class="search__select">
											<select name="search-select-1#" id="search-select-1#">
												<option value="1">كلمة المفتاح</option>
												<option value="2">كلمة</option>
											</select>
										</div> -->
									<button type="submit" class="search__btn">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</div>
							</form>
						</div>
						<a href="#" class="nav-mobile-outer">
							<span class="nav-mobile">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
					</div>
				</div>
				<div class="header__content">
					<div class="header__content-body">
						<nav class="nav nav--default">
							<ul app-navigation>
							</ul>
						</nav>
					</div>
					<div class="header__content-foot">
						<nav class="footer-nav js-footer-nav">
							<ul>
								<li>
									<a routerLink="/AboutUs">من نحن</a>
								</li>
								<li>
									<a routerLink="/ContactUs">اتصل بنا</a>
								</li>
								<li>
									<a routerLink="/Advertise">أعلن معنا</a>
								</li>
								<li>
									<a routerLink="/Polls">استفتاء</a>
								</li>
								<li>
									<a routerLink="/PrivacyPolicy">سياسة الخصوصية</a>
								</li>
							</ul>
						</nav>
						<div class="footer__content js-footer-content">
							<!-- <h5><a routerLink="/Videos">الفيديوهات</a></h5>
								<br/> -->
							<h5>تواصل معنا</h5>
							<div class="socials socials--large">
								<ul>
									<li>
										<a target="_blank" href="{{BASE_URL + 'Rss'}}">
											<i class="fa fa-rss" aria-hidden="true"></i>
										</a>
									</li>
									<li *ngFor="let item of globalModel?.socialMedia">
										<a target="_blank" href="{{item?.link}}">
											<i class="fa {{'fa-' + item?.className}}" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</div>
							<h5>تحميل التطبيق</h5>
							<div class="footer__actions">
								<a target="_blank" *ngIf="globalModel?.googlePlay" [attr.href]="globalModel?.googlePlay?.link" class="btn btn-default btn-default--app btn-default--googleplay">
									<span>
										<i class="ico-googleplay"></i>
										<i class="ico-googleplay-dark"></i>
									</span>
									Google Play
								</a>
								<a target="_blank" *ngIf="globalModel?.appStore" [attr.href]="globalModel?.appStore?.link" class="btn btn-default btn-default--app btn-default--appstore">
									<i class="fa fa-apple" aria-hidden="true"></i>
									App Store
								</a>
							</div>
						</div>
						<div class="header__content-inner">
							<a routerLink="/" class="logo-medium"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>