<div class="archiveContainer">
  <img border="0" src="../assets/images/archive2.png">
  <br>
  <span class="archiveTitle">أرشيف جريدة المدى</span>
  <a href="https://almadapaper.net/sub/archive(1).htm" target="iframe1">2003</a>
  <a href="https://almadapaper.net/sub/archive(2).htm" target="iframe1">2004</a>
  <a href="https://almadapaper.net/sub/archive(3).htm" target="iframe1">2005</a>
  <a href="https://almadapaper.net/sub/archive(4).htm" target="iframe1">2006</a>
</div>

<iframe id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive.htm" width="100%" frameborder="0" height="500"></iframe>