<div class="archiveContainer">
  <img border="0" src="../assets/images/archive2.png">
  <br>
  <span class="archiveTitle">أرشيف جريدة المدى</span>
  <a class="{{year == 2003 ? 'selected' : ''}}" href="https://almadapaper.net/sub/archive(1).htm" target="iframe1">2003</a>
  <a class="{{year == 2004 ? 'selected' : ''}}" href="https://almadapaper.net/sub/archive(2).htm" target="iframe1">2004</a>
  <a class="{{year == 2005 ? 'selected' : ''}}" href="https://almadapaper.net/sub/archive(3).htm" target="iframe1">2005</a>
  <a class="{{year == 2006 ? 'selected' : ''}}" href="https://almadapaper.net/sub/archive(4).htm" target="iframe1">2006</a>
</div>
<iframe *ngIf="year == 0" id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive.htm" width="100%" frameborder="0" height="500"></iframe>
<iframe *ngIf="year == 2003" id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive(1).htm" width="100%" frameborder="0" height="500"></iframe>
<iframe *ngIf="year == 2004" id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive(2).htm" width="100%" frameborder="0" height="500"></iframe>
<iframe *ngIf="year == 2005" id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive(3).htm" width="100%" frameborder="0" height="500"></iframe>
<iframe *ngIf="year == 2006" id="iframe1" name="iframe1" src="https://almadapaper.net/sub/archive(4).htm" width="100%" frameborder="0" height="500"></iframe>