<div class="container">
		<div class="intro">
			<div class="shell">
				<div class="intro__body">
					<app-home-slideshow [topArticle]="topArticle"
					[slideshow]="slideshow"></app-home-slideshow>
				</div><!-- /.intro__body -->
			</div><!-- /.shell -->
		</div><!-- /.intro -->

		<div class="bar-nav js-bar-nav">
			<div class="bar__inner">
				<div class="shell">
					<div class="bar__body">
						<a routerLink="/" class="logo logo--small-white"></a>

						<nav class="nav nav--bar">
							<ul app-navigation>
							</ul>
						</nav>

					</div><!-- /.bar__body -->
				</div><!-- /.shell -->
			</div><!-- /.bar__inner -->
		</div><!-- /.bar-nav -->

		<div id="middleHome">
			<app-middle-home [todaysPicArticle]="todaysPicArticle"
			[underTodaysPic]="underTodaysPic"
			[latestNews]="latestNews"
			[leftArticles]="leftArticles"></app-middle-home>
		</div>
			

		<div id="yellowMiddleHome">
			<app-yellow-middle-home [firstBoxCategory]="firstBoxCategory"
			[bigPoliticals]="bigPoliticals"
			[politicalsSmall]="politicalsSmall"
			[politicals]="politicals"
			[secondBoxCategory]="secondBoxCategory"
			[localNews]="localNews"></app-yellow-middle-home>
		</div>

		<div class="main main--primary">
			<div class="shell">
				<div class="main__body">
					<div class="content">
						<div class="content__body">
							
							<div id="whiteMiddleHome">
								<app-white-middle-home [whiteBox]="whiteBox"
								[specializedArticles]="specializedArticles"
								[middleArticles]="middleArticles"
								[tabCategories]="tabCategories"
								[firstBoxCategory]="firstBoxCategoryForWhite"
								[secondBoxCategory]="secondBoxCategoryForWhite"></app-white-middle-home>
							</div>
							<div id="bottomHome">
								<app-bottom-home [bottomCategory]="bottomCategory"
								[bottomSlideshowArticles]="bottomSlideshowArticles"
								[bottomArticles]="bottomArticles"
								[videoArticles]="videoArticles"
								[currentPoll]="currentPoll"></app-bottom-home>	
							</div>						
							
						</div><!-- /.content__body -->
					</div><!-- /.content -->
				
					<app-sidebar></app-sidebar>

				</div><!-- /.main__body -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->