<div class="container">
		<div class="intro">
			<div class="shell">
				<div class="intro__body">
					<app-home-slideshow></app-home-slideshow>
				</div><!-- /.intro__body -->
			</div><!-- /.shell -->
		</div><!-- /.intro -->

		<div class="bar-nav js-bar-nav">
			<div class="bar__inner">
				<div class="shell">
					<div class="bar__body">
						<a routerLink="/" class="logo logo--small-white"></a>

						<nav class="nav nav--bar">
							<ul app-navigation>
							</ul>
						</nav>

					</div><!-- /.bar__body -->
				</div><!-- /.shell -->
			</div><!-- /.bar__inner -->
		</div><!-- /.bar-nav -->

		<app-middle-home></app-middle-home>		

		<app-yellow-middle-home></app-yellow-middle-home>

		<div class="main main--primary">
			<div class="shell">
				<div class="main__body">
					<div class="content">
						<div class="content__body">
							
							<app-white-middle-home></app-white-middle-home>
							<app-bottom-home></app-bottom-home>							
							
						</div><!-- /.content__body -->
					</div><!-- /.content -->
				
					<app-sidebar></app-sidebar>

				</div><!-- /.main__body -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->