<div class="container">
	<section class="section-articles-column">
		<div class="shell">
			<header class="section__head visible-xs-block">
				<h4 class="section__title">{{CategoryModel?.title}}</h4>
			</header>
			<div class="section__body">
				<div class="widget-banner visible-xs-block">
					<a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
						<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt="">
						<!-- height="50" width="300" -->
					</a>
				</div>
				<div class="cols">
					<div class="col col--1of2" *ngFor="let item of CategoryModel.topArticles">
						<div class="section__content">
							<article class="article-alt article-alt--medium">
								<div class="article__image fullsize-image">
									<img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/693x378xo/{{item?.image}}" height="378" width="693"
									 alt="">
								</div>
								<div class="article__content">
									<a *ngIf="item?.isVideo" routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}" class="btn btn-play btn-play--large"></a>
									<h2>{{item?.title}}</h2>
									<div class="article__content-bar">
										<ul class="list-meta">
											<li>
												<a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
													<span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
													<i class="fa fa-clock-o" aria-hidden="true"></i>
												</a>
											</li>
											<li>
												<a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
													<span class="text-en">500</span>
													<i class="fa fa-comment-o" aria-hidden="true"></i>
												</a>
											</li>
										</ul>
										<a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}" class="link link-more">
											<i class="fa fa-long-arrow-left" aria-hidden="true"></i> إقرأ المزيد
										</a>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="widget-banner visible-xs-block">
					<a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
						<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt="">
						<!-- height="50" width="300" -->
					</a>
				</div>
			</div>
		</div>
	</section>
	<div class="main main--primary main--alt">
		<div class="shell">
			<div class="main__body">
				<div class="content">
					<div class="content__body">
						<app-subcategories [SubCategoryModels]="CategoryModel.SubCategoryModels.slice(0,2)"></app-subcategories>
						<!-- after second subcategory -->
						<!-- <section class="section-default section-default--videos" *ngIf="CategoryModel.videoArticles && CategoryModel.videoArticles.length"
						 app-video-partial [entries]="CategoryModel.videoArticles">
						</section> -->
						<app-subcategories [SubCategoryModels]="CategoryModel.SubCategoryModels.slice(2)"></app-subcategories>
					</div>
				</div>
				<app-sidebar [globalModel]="globalModel"></app-sidebar>
			</div>
		</div>
	</div>
</div>