<div class="widget__body">
    <div class="form-range">
      <form action="?" method="post">
        <div class="form__head">
          <h4>هل تواجه صعوبة في الدخول <br>على موقع بوابة المدى؟</h4>
        </div><!-- /.form__head -->
        
        <div class="form__body">
          <ul class="list-radios">
            <li>
              <div class="radio">
                <input type="radio" name="radios2" id="radio-5#">
                
                <label for="radio-5#">الموقع يفتح بشكل عادي</label>
              </div><!-- /.radio -->
            </li>
            
            <li>
              <div class="radio">
                <input type="radio" name="radios2" id="radio-6#">
                
                <label for="radio-6#">الموقع لا يفتح بالمتصفح «كروم»</label>
              </div><!-- /.radio -->
            </li>
            
            <li>
              <div class="radio">
                <input type="radio" name="radios2" id="radio-7#">
                
                <label for="radio-7#">الموقع لا يفتح بالمتصفح «فاير فوكس»</label>
              </div><!-- /.radio -->
            </li>
            
            <li>
              <div class="radio">
                <input type="radio" name="radios2" id="radio-8#">
                
                <label for="radio-8#">الموقع لا يفتح أحيانا</label>
              </div><!-- /.radio -->
            </li>
          </ul><!-- /.list-radios -->



          <!-- <ul class="list-progress-items">
              <li>
                <p>
                  <strong>مقبول %28</strong>
                  
                  <span>(115 صوت)</span>
                </p>

                <div class="progress-bar" data-percent="28%">
                  <span></span>
                </div> /.progress-bar
              </li>

              <li>
                <p>
                  <strong>جيد %32</strong>
                  
                  <span>(120 صوت)</span>
                </p>

                <div class="progress-bar" data-percent="32%">
                  <span></span>
                </div> /.progress-bar
              </li>

              <li>
                <p>
                  <strong>ممتاز %42</strong>
                  
                  <span>(60 صوت)</span>
                </p>

                <div class="progress-bar" data-percent="42%">
                  <span></span>
                </div> /.progress-bar
              </li>
            </ul>/.list-progress-items -->



        </div><!-- /.form__body -->
        
        <div class="form__actions">
          <input type="submit" value="تصويت" class="form__btn btn btn-default btn-default--alt btn-default--small">
       
          <a href="#" class="btn btn-default btn-default--small btn--white"> نتيجة التصويت</a>
        
        </div><!-- /.form__actions -->
      </form>
    </div><!-- /.form -->
  </div><!-- /.widget__body -->