<div class="widget-antenna">
  <div class="widget__actions">
    <a href="#" class="btn btn-antenna js-btn-toggle" data-class="expanded" data-target="#bar-news">
      <small>
        <strong>
          <i class="ico-radio"></i>

          <i class="ico-radio-dark"></i>
        </strong>
      </small>

      <span>إستمع للبث المباشر</span>
    </a>
  </div><!-- /.widget__actions -->
</div><!-- /.widget-antenna -->
  
<div class="bar-news" id="bar-news">
		<div class="bar__body">
			<aside class="bar__aside">
				<a href="07_Articles_details.html">
					<small>
						<i class="ico-breaking-news"></i>
					
						<span>خبر عاجل</span>
					</small>
				</a>
			</aside><!-- /.bar__aside -->

			<div class="bar__content hidden-xs">
				<p> تختبر شبكة التدوين المصغر “تويتر” نظاما جديدا للأخبار العاجلة يقوم بإرسال تنبيهات الأخبار للمستخدمين مباشرة إلى هواتفهم الخليوية على شكل تنبيهات فورية. <br>ورغم أن “تويتر” لم تعلن رسميا عن اختبارها...</p>
			</div><!-- /.bar__content -->

			<div class="bar__content visible-xs-block">
				<p> تختبر شبكة التدوين المصغر “تويتر” نظاماً جديداً للأخبار</p>
			</div><!-- /.bar__content -->
		</div><!-- /.bar__body -->
	</div><!-- /.bar-news -->