<div class="widget-antenna" *ngIf="globalModel?.listenLiveFix && sharedModel?.currentRoute != 'print'">
  <div class="widget__actions">
    <a target="_blank" [attr.href]="globalModel?.listenLiveFix?.link" class="btn btn-antenna js-btn-toggle" data-class="expanded" data-target="#bar-news">
      <small>
        <strong>
          <i class="ico-radio"></i>

          <i class="ico-radio-dark"></i>
        </strong>
      </small>

      <span>إستمع للبث المباشر</span>
    </a>
  </div>
</div>
<div class="bar-news expanded" id="bar-news" *ngIf="Model && sharedModel?.currentRoute != 'print'">
		<div class="bar__body">
			<aside class="bar__aside">
				<a routerLink="/Details/{{Model?.id}}/{{Model?.customUrlTitle}}">
					<small>
						<i class="ico-breaking-news"></i>
					
						<span>خبر عاجل</span>
					</small>
				</a>
			</aside>
			<div class="bar__content hidden-xs">
					<p> 
						<a routerLink="/Details/{{Model?.id}}/{{Model?.customUrlTitle}}">{{Model?.title}}</a>
					</p>
			</div>
			<div class="bar__content visible-xs-block">
				<p>
					<a routerLink="/Details/{{Model?.id}}/{{Model?.customUrlTitle}}">{{Model?.title}}</a>
				</p>
			</div>
		</div>
	</div>