<div class="container container--secondary">
		<div class="main {{isVideo || (!entry?.relatedArticles) || (entry?.relatedArticles.length == 0)  ? 'main--full' : 'main--secondary'}}">
			<div class="shell">
				<div class="main__body" *ngIf="showLoader">
					<div class="cssload-spin-box"></div>
				</div>
				<div class="main__body" *ngIf="!showLoader">
					<div class="content">
						<div class="content__body">
							<section class="section-article-single {{isVideo ? 'article-single--alt' : ''}}">
								<div class="section__body">
									<article class="article-single">
										<header class="article__head">
											<nav class="breadcrumbs">
												<ul>
													<li>
														<a routerLink="/">الصفحة الرئيسية</a>
													</li>
													
													<li *ngIf="entry?.categoryId && entry?.categoryId != 0">
														<a routerLink="/Category/{{entry?.categoryId}}/{{entry?.categoryCustomUrlTitle}}">{{entry?.categoryTitle}}</a>
													</li>
													
													<li *ngIf="entry?.subcategoryId && entry?.subcategoryId != 0">
														<a routerLink="/Category/{{entry?.subcategoryId}}/{{entry?.subcategoryCustomUrlTitle}}">{{entry?.subcategoryTitle}}</a>
													</li>
												</ul>
											</nav><!-- /.breadcrumbs -->

											<div class="widget-banner visible-xs-block" *ngIf="!isVideo">
												<a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
													<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt=""> <!-- height="50" width="300" -->
												</a><!-- /.widget__image -->
											</div><!-- /.widget-banner -->

											<a *ngIf="entry?.subcategoryId && entry?.subcategoryId != 0" routerLink="/Category/{{entry?.subcategoryId}}/{{entry?.subcategoryCustomUrlTitle}}" class="btn btn-plus js-btn-back">
												<i class="fa fa-times" aria-hidden="true"></i>
											</a>

											<a *ngIf="!entry?.subcategoryId || entry?.subcategoryId == 0" routerLink="/Category/{{entry?.categoryId}}/{{entry?.categoryCustomUrlTitle}}" class="btn btn-plus js-btn-back">
												<i class="fa fa-times" aria-hidden="true"></i>
											</a>

											<h1>{{entry?.title}}</h1>

											<a class="subHeading" *ngIf="entry?.writer != null" routerLink="/Writer/{{entry?.writer?.id}}/{{entry?.writer?.customUrlTitle}}">												
												<i class="fa fa-pencil" aria-hidden="true"></i>
												<span>اسم الكاتب: {{entry?.writer?.name}}</span>			
											</a>
											<a *ngIf="entry?.issueNumber != null && !(entry?.issueId > 1454 && entry?.issueId <= 3176)" 
												target="_blank" [attr.href]="entry?.issueLink" class="subHeading">												
												<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
												<span>رقم العدد: {{entry?.issueNumber}}</span>			
											</a>
											<a *ngIf="entry?.issueNumber != null && (entry?.issueId > 1454 && entry?.issueId <= 3176)" 
												target="_blank" routerLink="/Issues/Details/{{entry?.issueId}}" class="subHeading">												
												<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
												<span>رقم العدد: {{entry?.issueNumber}}</span>			
											</a>
											<a class="subHeading" *ngIf="entry?.versionType != null">
												<i class="fa fa-code-branch" aria-hidden="true"></i>
												<span>نوع النسخة: {{entry?.versionType}}</span>			
											</a>
											<a class="subHeading">
												<i class="fa fa-clock-o" aria-hidden="true"></i>
												<span class="text-en">تاريخ اخر تعديل: </span>
												<span class="dateModified">{{entry?.dateModified | date: 'dd/MM/yyyy HH:mm' }}</span>
											</a>											
										</header><!-- /.article__head -->

										<div class="article__bar">
											<div class="article__bar-actions text-en">
												<div class="btn btn-social btn-social--alt btn-social--share">
													<i class="fa fa-share" aria-hidden="true"></i>
													<span>Share</span>
													<div class="addthis_inline_share_toolbox"></div>
												</div>
												<!-- <a href="#" class="btn btn-social btn-social--alt btn-social--twitter">
													<i class="fa fa-twitter" aria-hidden="true"></i>
													<span>Tweet</span>
												</a> -->

												<div class="btn btn-social btn-social--alt btn-social--twitter">
													<a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
												</div>

												<!-- <a href="#" class="btn btn-social btn-social--alt btn-social--facebook">
													<i class="ico-like"></i>
													<span>Like 25</span>
												</a> -->

												<!-- <fb-like [attr.href]="entry?.urlBrowser"></fb-like> -->

												<div class="fb-like" [attr.data-href]="entry?.urlBrowser" 
												data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" 
												data-share="false"></div>

											</div><!-- /.article__bar-actions -->

											<div class="article__bar-aside">
												<ul class="list-meta list-meta--dark">
													<li class="fa_1" (click)="decreaseFont()">
														<a>	
															<i class="fa fa-font" aria-hidden="true"></i> -	
														</a>
													</li>
													<li class="fa_4" (click)="increaseFont()">
														<a>											
															<i class="fa fa-font" aria-hidden="true"></i> +	
														</a>
													</li>
													<li>
														<a>
															<i class="fa fa-clock-o" aria-hidden="true"></i>
															<span class="text-en">{{entry?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
														</a>
													</li>
													<li>
														<a>
															<i class="fa fa-eye" aria-hidden="true"></i>
															<span class="text-en">{{entry?.viewCounter}}</span>
														</a>
													</li>			
													<li>
														<a id="commentCounter">
															<i class="fa fa-comment-o" aria-hidden="true"></i>
															<span class="text-en">0</span>
														</a>
													</li>
													<li (click)="print(entry?.id)">
														<a>											
															<i class="fa fa-print" aria-hidden="true"></i>	
															<span>إطبع</span>
														</a>
													</li>
													<li>
														<!-- <a [attr.href]="'mailto:someone@example.com?Subject=' + entry?.title + '&body=' + entry?.urlBrowser">											
															<i class="fa fa-envelope" aria-hidden="true"></i>	
															<span>أرسل إلى صديق</span>
														</a> -->
														<a target="_blank" [attr.href]="sendEmailUrl">											
															<i class="fa fa-envelope" aria-hidden="true"></i>	
															<span>أرسل إلى صديق</span>
														</a>
													</li>
												</ul><!-- /.list-meta -->
											</div><!-- /.article__bar-aside -->
										</div><!-- /.article__bar -->

										<div class="article__body">

											<div class="article__iframe" *ngIf="isVideo">
												<div class="video_iframe">
													<iframe [src]="youtubeLink | safeUrl" frameborder="0" allowfullscreen></iframe>
												</div>													
											</div><!-- /.article__iframe -->

											<a class="article__banner" *ngIf="isVideo && sharedModel?.leaderboardBanner" target="_blank" [attr.href]="sharedModel.leaderboardBanner?.link">
												<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.leaderboardBanner?.image}}" height="90" width="728" alt="">
											</a><!-- /.article__banner -->
                      
                     						<div class="article__entry" *ngIf="!isVideo && entry?.descriptionBeforeBanner.length > 0">
												<p [innerHTML]="description"></p>
											</div><!-- /.article__entry -->

											<div class="article__inner" *ngIf="!isVideo && entry?.ArticleImages">
												<div class="article__inner-body">
													<div class="slider slider-article-single js-slider-single">
														<div class="slider__clip swiper-container">
															<div class="slider__slides swiper-wrapper">

																<div class="slider__slide swiper-slide" *ngFor="let item of entry?.ArticleImages">
																	<div class="slider__slide-image">
																		
																		<img *ngIf="hasGallery && !entry?.firstImageInGalleryIsSmall" (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/720x520xo/{{item?.image}}" height="520" width="720" alt="{{item?.title}}">
																		<img *ngIf="hasGallery && entry?.firstImageInGalleryIsSmall" (error)="sharedService.errorHandler($event)" src="{{CONTENT_PATH}}/Article/{{item?.image}}" alt="{{item?.title}}">

																		<img *ngIf="!hasGallery && !entry?.isImageSmall" (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/720x520xo/{{item?.image}}" height="520" width="720" alt="{{item?.title}}">
																		<img *ngIf="!hasGallery && entry?.isImageSmall" (error)="sharedService.errorHandler($event)" src="{{CONTENT_PATH}}/Article/{{item?.image}}" alt="{{item?.title}}">
																	</div><!-- /.slider__slide-image -->
																</div><!-- /.slider__slide -->

															</div><!-- /.slider__slides -->

															<div *ngIf="entry?.ArticleImages && entry?.ArticleImages.length > 1" class="swiper-button-next swiper-button-next-circle"></div>
												    						
							    							<div *ngIf="entry?.ArticleImages && entry?.ArticleImages.length > 1" class="swiper-button-prev swiper-button-prev-circle"></div>
														</div><!-- /.slider__clip -->

														<!-- <div class="slider__foot">
															<ul class="list-icons-actions">
																<li>
																	<a href="#">
																		<i class="fa fa-volume-up" aria-hidden="true"></i>
																		0
																	</a>
																</li>
																
																<li>
																	<a href="#">
																		<i class="fa fa-video-camera" aria-hidden="true"></i>
																		0
																	</a>
																</li>
																
																<li>
																	<a href="#">
																		<i class="fa fa-camera" aria-hidden="true"></i>
																		{{entry?.ArticleImages.length}}
																	</a>
																</li>
															</ul>
														</div> -->
														
													</div><!-- /.slider -->
												</div><!-- /.article__inner-body -->

												<div class="article__inner-foot">
													<p>{{ entry?.ArticleImages.length > 0 ? entry?.ArticleImages[0].title : entry?.caption }}</p>
												</div><!-- /.article__inner-foot -->
											</div><!-- /.article__inner -->

											<a class="subHeading" *ngIf="entry?.sourceDesc != ''">
												<!-- <i class="fa fa-code-branch" aria-hidden="true"></i> -->
												<span>{{entry?.sourceDesc}}</span><!--المصدر:-->
											</a>

											<div class="article__entry">

												<p *ngIf="entry?.descriptionBeforeBanner.length == 0" [innerHTML]="description"></p>

												<p [innerHTML]="entry?.descriptionBeforeBanner"></p>

												<p *ngIf="entry?.bannerInDescription"  [innerHTML]="entry?.bannerInDescription" class="alignleft"></p>

												<p [innerHTML]="entry?.descriptionAfterBanner"></p>

											</div><!-- /.article__entry -->
										</div><!-- /.article__body -->

										<div class="article__actions" *ngIf="entry?.tags && entry?.tags.length">
											<a *ngFor="let item of entry?.tags" routerLink="/Search?keyword={{item?.title}}" class="btn btn-default btn-default--xsmall btn--beige">{{item?.title}}</a>
										</div><!-- /.article__actions -->

										<footer class="article__foot">
											<div class="article__foot-image">
												<div id="fbComment" class="fb-comments" [attr.data-href]="entry?.urlBrowser" data-numposts="2" data-width="100%"></div>
											</div><!-- /.article__foot-image -->
										</footer><!-- /.article__foot -->
									</article><!-- /.article-single -->
								</div><!-- /.section__body -->
				 				
								<aside class="section__aside hidden-xs hidden-sm">

									<div class="widget-banner widget-banner--alt">
										<a class="widget__image" *ngIf="sharedModel?.detailsRightMpuBanner" target="_blank" [attr.href]="sharedModel.detailsRightMpuBanner?.link">
											<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.detailsRightMpuBanner?.image}}" height="600" width="300" alt="">
										</a><!-- /.widget__image -->
									</div><!-- /.widget-banner widget-banner--alt -->

									<div class="widget-default widget-last-news">
										<header class="widget__head">
											<h3 class="widget__title">الأكثر قراءة</h3><!-- /.widget__title --> <!-- أحدث الأخبار -->
										</header><!-- /.widget__head -->

										<div class="widget__body" *ngIf="entry?.latestNews && entry?.latestNews.length">
											<ol class="news-items">

												<li class="news-item" *ngFor="let item of entry?.latestNews">
													<div class="news__content">
														<h6><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h6>
									
														<ul class="list-meta">
														<li>
															<a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
																<span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
																
																<i class="fa fa-clock-o" aria-hidden="true"></i>
															</a>
														</li>
									
														<li>
															<a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
																<span class="text-en">500</span>
																
																<i class="fa fa-comment-o" aria-hidden="true"></i>
															</a>
														</li>
														</ul><!-- /.list-meta -->
													</div><!-- /.news__content -->
												</li><!-- /.news-item -->
												
											</ol><!-- /.news-items -->
										</div><!-- /.widget__body -->

										<!-- <div class="widget__actions">
											<a href="#" class="link link--red link-more">
												<i class="fa fa-long-arrow-left" aria-hidden="true"></i>المزيد
											</a>
										</div> --><!-- /.widget__actions -->
									</div><!-- /.widget-default widget-last-news -->
								</aside><!-- /.section__aside -->
							</section><!-- /.section-article-single -->
						</div><!-- /.content__body -->
					</div><!-- /.content -->
				
					<aside class="sidebar" app-related-articles [entries]="entry?.relatedArticles" [relatedArticleTitle]="relatedArticleTitle" *ngIf="!isVideo && entry?.relatedArticles && entry?.relatedArticles.length">						
          			</aside><!-- /.sidebar -->
          
				</div><!-- /.main__body -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->

	<div class="widget-socials" *ngIf="!isVideo && !showLoader">
		<div class="widget__body">
			<div class="socials-circles">
				<ul>
					<!-- <li>
						<a href="#" class="link-share">
							<i class="fa fa-share-alt" aria-hidden="true"></i>
						</a>
					</li> -->
					
					<li>
						<a [attr.href]="whatsappLink" data-action="share/whatsapp/share" class="link-whatsapp">
							<i class="fa fa-whatsapp" aria-hidden="true"></i>
						</a>
					</li>
					
					<li>
						<a (click)="googlePlusShare(entry?.urlBrowser)" class="link-googleplus">
							<i class="fa fa-google-plus" aria-hidden="true"></i>
						</a>
					</li>
					
					<li>
						<a (click)="tweetPopup(entry?.urlBrowser)" class="link-twitter">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</li>
					
					<li>
						<a (click)="facebookShare(entry?.urlBrowser)" class="link-facebook">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div><!-- /.socials -->
		</div><!-- /.widget__body -->
	</div><!-- /.widget-socials -->