<div class="container container--alt">
		<div class="main main--primary main--alt">
			<div class="shell">
				<div class="main__body">
					<div class="content">
						<div class="content__body">
							<section class="section-default section-default--info section-default--about">
								<header class="section__head">
                  
                  					<div class="widget-banner visible-xs-block">
										<a class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
											<img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt=""><!-- height="50" width="300" -->
										</a>
									</div>
									<h2 class="section__title" [innerHTML]="Model?.title"></h2>
									<div class="section__head-inner">
										<nav class="breadcrumbs">
											<ul>
												<li>
													<a routerLink="/">الصفحة الرئيسية</a>
												</li>
												<li>
													<a [innerHTML]="Model?.title"></a>
												</li>
											</ul>
										</nav>
									</div>
								</header>
								<div class="section__body">
									<div class="section__row">
										<h4 [innerHTML]="Model?.smallDescription"></h4>
									</div>
									<div class="section__entry" [innerHTML]="Model?.description"></div>
								</div>
							</section>
						</div>
					</div>
          <app-sidebar [globalModel]="globalModel"></app-sidebar>
				</div>
			</div>
		</div>
	</div>
