<article class="article article--text" *ngFor="let item of entries">
  <div class="article__content">
    <h4><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h4>

    <div class="article__content-bar">
      <ul class="list-meta">
        <li>
          <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
            <span>4 تشرين الأول 2016</span>
            
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </a>
        </li>
      </ul><!-- /.list-meta -->
    </div><!-- /.article__content-bar -->
  </div><!-- /.article__content -->
</article><!-- /.article -->