<div class="container container--alt">
  <div class="main main--primary main--alt">
    <div class="shell">
      <div class="main__body">
        <div class="content">
          <div class="content__body">
            <section class="section-default section-default--range">
              <header class="section__head">
                <h2 class="section__title">						
                  استطلاع المدى
                </h2><!-- /.section__title -->

                <div class="section__head-inner">
                  <nav class="breadcrumbs">
                    <ul>
                      <li>
                        <a href="#">الصفحة الرئيسية</a>
                      </li>
                      
                      <li>
                        <a href="#">استطلاع المدى</a>
                      </li>
                    </ul>
                  </nav><!-- /.breadcrumbs -->
                </div><!-- /.section__head-inner -->
              </header><!-- /.section__head -->

              <div class="section__body">
                <div class="cols">

                  <div class="col col--1of2">
                    <div class="widget widget--range">
                        <app-active-poll></app-active-poll>
                    </div><!-- /.widget -->
                  </div><!-- /.col col--1of2 -->

                  

                </div><!-- /.cols -->
              </div><!-- /.section__body -->
            </section><!-- /.section-default -->

            <section class="section-default section-default--alt section-default--poll">
              <header class="section__head">
                <h3 class="section__title">
                  إستطلاعات سابقة
                </h3><!-- /.section__title -->
              </header><!-- /.section__head -->

              <div class="section__body">
                <div class="polls">
                  
                  <div class="poll">
                    <div class="poll__inner">
                      <h4>هل تواجه صعوبة في الدخول على موقع بوابة المدى؟</h4>

                      <ul class="list-meta">
                        <li>
                          <a href="#">
                            <span>4 تشرين الأول 2016</span>
                            
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul><!-- /.list-meta -->

                      <ul class="list-progress-items">
                        <li>
                          <p>
                            <strong>مقبول %28</strong>
                            
                            <span>(115 صوت)</span>
                          </p>

                          <div class="progress-bar" data-percent="28%">
                            <span></span>
                          </div><!-- /.progress-bar -->
                        </li>

                        <li>
                          <p>
                            <strong>جيد %32</strong>
                            
                            <span>(120 صوت)</span>
                          </p>

                          <div class="progress-bar" data-percent="32%">
                            <span></span>
                          </div><!-- /.progress-bar -->
                        </li>

                        <li>
                          <p>
                            <strong>ممتاز %42</strong>
                            
                            <span>(60 صوت)</span>
                          </p>

                          <div class="progress-bar" data-percent="42%">
                            <span></span>
                          </div><!-- /.progress-bar -->
                        </li>
                      </ul><!-- /.list-progress-items -->
                    </div><!-- /.poll__inner -->
                  </div><!-- /.poll -->   

                </div><!-- /.polls -->
              </div><!-- /.section__body -->
            </section><!-- /.section-default -->
          </div><!-- /.content__body -->

          <div class="content__actions">
            <a href="#" class="btn btn-default btn-default--large">المزيد <i class="fa fa-plus" aria-hidden="true"></i></a>
          </div><!-- /.content__actions -->
        </div><!-- /.content -->
      
        <app-sidebar></app-sidebar>
      </div><!-- /.main__body -->
    </div><!-- /.shell -->
  </div><!-- /.main -->
</div><!-- /.container -->