<section class="section-articles" *ngIf="bannerArticle && bannerArticle != null">
  <div class="shell">
    <div class="section__body">
      <div class="banner_article">
        <div class="article__content">
          <h4><a routerLink="/Details/{{bannerArticle?.id}}/{{bannerArticle?.customUrlTitle}}">{{bannerArticle?.title}}</a></h4>
        </div><!-- /.article__content -->
      </div>
    </div>
  </div>
</section>
<section class="section-articles">
  <div class="shell">
    <div class="section__body">
      <div class="cols cols--large">
        <div class="col col--size-1">


          <div class="slider slider-brochure js-slider-single" *ngIf="todaysPicArticles && todaysPicArticles.length > 0">
            <div class="slider__clip swiper-container">
              <div class="slider__slides swiper-wrapper">
                
                <div class="slider__slide swiper-slide" *ngFor="let item of todaysPicArticles">

                  <article class="article-alt article-alt--large template_793_574">
                    <div class="article__image fullsize-image">
                      <a routerLink="/Category/47/صورة-اليوم">
                          <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/795x576xo/{{item?.image}}" height="576" width="795" alt="">
                        </a>
                    </div>
                    <!-- /.article__image -->

                    <div class="article__content">
                      <a routerLink="/Category/47/صورة-اليوم" class="btn btn-default btn-default--mobile btn-red">صورة اليوم <i class="fa fa-plus" aria-hidden="true"></i></a>

                      <h2>{{item?.caption}}</h2>

                      <a routerLink="/Category/47/صورة-اليوم" class="link link-more">
                          <i class="fa fa-long-arrow-left" aria-hidden="true"></i> صور سابقة
                        </a>
                    </div>
                    <!-- /.article__content -->
                  </article> <!-- /.article -->

                </div>


              </div>
            </div>
          </div>

          <div class="articles articles--default" *ngIf="underTodaysPic">

            <article class="article article--medium template_231_139" *ngFor="let item of underTodaysPic">
              <div class="article__image article-bg-image">
                <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                    <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/189x112xo/{{item?.image}}" height="112" width="189" alt="">
                  </a>
              </div>
              <!-- /.article__image -->

              <div class="article__content">
                <h4><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h4>
                <ul class="list-meta">
                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                        <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                        
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                      </a>
                  </li>

                  <li>
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                        <span class="text-en">500</span>
                        
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                      </a>
                  </li>
                </ul>
                <!-- /.list-meta -->
              </div>
              <!-- /.article__content -->
            </article>
            <!-- /.article -->

          </div>
          <!-- /.articles -->

          <div class="widget-banner visible-xs-block">
            <div class="widget__image" *ngIf="sharedModel?.mobileLeaderboardBanner" target="_blank" [attr.href]="sharedModel.mobileLeaderboardBanner?.link">
              <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileLeaderboardBanner?.image}}" alt=""><!-- height="50" width="300" -->
            </div>
            <!-- /.widget__image -->
          </div>
          <!-- /.widget-banner -->
        </div>
        <!-- /.col -->

        <div class="col col--size-2" *ngIf="latestNews">
          <div class="widget-default widget-last-news">
            <header class="widget__head">
              <h3 class="widget__title">أحدث الأخبار</h3>
              <!-- /.widget__title -->
            </header>
            <!-- /.widget__head -->

            <div class="widget__body">
              <ol class="news-items">

                <li class="news-item" *ngFor="let item of latestNews">
                  <div class="news__content">
                    <h6><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h6>

                    <ul class="list-meta">
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                            
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                          </a>
                      </li>

                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">500</span>
                            
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                          </a>
                      </li>
                    </ul>
                    <!-- /.list-meta -->
                  </div>
                  <!-- /.news__content -->
                </li>
                <!-- /.news-item -->

              </ol>
              <!-- /.news-items -->
            </div>
            <!-- /.widget__body -->

            <!-- <div class="widget__actions">
              <a class="link link--red link-more">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>المزيد
                </a>
            </div> -->

            <!-- /.widget__actions -->
          </div>
          <!-- /.widget-default widget-last-news -->

          <div class="widget-banner visible-xs-block">
            <a class="widget__image" *ngIf="sharedModel?.mobileMpuBanner" target="_blank" [attr.href]="sharedModel.mobileMpuBanner?.link">
                <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.mobileMpuBanner?.image}}" alt=""><!-- height="250" width="300" -->
            </a>
            <!-- /.widget__image -->
          </div>
          <!-- /.widget-banner -->
        </div>
        <!-- /.col -->

        <div class="col col--size-3" *ngIf="leftArticles">
          <div class="widget-articles">
            <div class="widget__body">
              <div class="articles-block">

                <article class="article template_232_140" *ngFor="let item of leftArticles">
                  <div class="article__image article-bg-image">
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                        <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/232x140xo/{{item?.image}}" height="140" width="232" alt="">
                      </a>
                  </div>
                  <!-- /.article__image -->

                  <div class="article__content">
                    <h4><a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a></h4>
                    <ul class="list-meta">
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                            
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                          </a>
                      </li>

                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">500</span>
                            
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                          </a>
                      </li>
                    </ul>
                    <!-- /.list-meta -->
                  </div>
                  <!-- /.article__content -->
                </article>
                <!-- /.article -->

              </div>
              <!-- /.articles-block -->
            </div>
            <!-- /.widget__body -->
          </div>
          <!-- /.widget-articles -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.cols -->
    </div>
    <!-- /.section__body -->
  </div>
  <!-- /.shell -->
</section>
<!-- /.section-articles -->