<div class="intro__content">
  <article class="article-alt article-alt--xlarge template_1216_433" *ngIf="topArticle">
    <a routerLink="/Details/{{topArticle?.id}}/{{topArticle?.customUrlTitle}}">
      <div class="article__image fullsize-image">
        <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/1217x434xo/{{topArticle?.image}}" height="434"
          width="1217" alt="">
      </div>
      <div class="article__content">
        <span *ngIf="topArticle?.isVideo" class="btn btn-play btn-play--large"></span>
        <h1>{{topArticle?.title}}</h1>
      </div>
    </a>
  </article>
  <div class="slider slider-articles js-slider-articles" *ngIf="slideshow" data-slides="5" data-slides-tablet="5" data-slides-mobile="2">
    <div class="slider__clip swiper-container">
      <div class="slider__slides swiper-wrapper">
        <div class="slider__slide swiper-slide" *ngFor="let item of slideshow">
          <article class="article article--medium template_230_140">
            <div class="article__image article-bg-image {{item?.isVideo ? 'article__video' : ''}}">
              <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                <span *ngIf="item?.isVideo" class="btn btn-play btn-play--small"></span>
                <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/232x140xo/{{item?.image}}" height="140" width="232"
                  alt="" />
              </a>
            </div>
            <div class="article__content">
              <h4>
                <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a>
              </h4>
              <ul class="list-meta">
                <li>
                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                    <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </a>
                </li>
                <li>
                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                    <span class="text-en">500</span>
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="widget-brochures visible-xs-block">
    <div class="widget__body">
      <div class="brochures">
        <div class="brochure brochure--red brochure--inline">
          <div class="brochure__head">
            <h3>عدد اليوم </h3>
          </div>
          <div class="brochure__body">
            <div class="brochure__body-inner">
              <div class="slider slider-brochure js-slider-single">
                <div class="slider__clip swiper-container">
                  <div class="slider__slides swiper-wrapper">
                    <div class="slider__slide swiper-slide">
                      <a routerLink="/Issues">
                        <div class="slider__slide-image">
                          <img src="assets/css/images/temp/brochure-image1.jpg" height="320" width="276" alt="">
                        </div>
                        <div class="slider__slide-content">
                          <span>العدد 3750 الثلاثاء, 4 تشرين الأول 2016</span>
                        </div>
                      </a>
                    </div>
                    <div class="slider__slide swiper-slide">
                      <a routerLink="/Issues">
                        <div class="slider__slide-image">
                          <img src="assets/css/images/temp/brochure-image1.jpg" height="320" width="276" alt="">
                        </div>
                        <div class="slider__slide-content">
                          <span>العدد 3750 الثلاثاء, 4 تشرين الأول 2016</span>
                        </div>
                      </a>
                    </div>
                    <div class="slider__slide swiper-slide">
                      <a routerLink="/Issues">
                        <div class="slider__slide-image">
                          <img src="assets/css/images/temp/brochure-image1.jpg" height="320" width="276" alt="">
                        </div>
                        <div class="slider__slide-content">
                          <span>العدد 3750 الثلاثاء, 4 تشرين الأول 2016</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="brochure__body-bar">
                <a routerLink="/Issues">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  تصفح عدد اليوم
                </a>
              </div>
            </div>
            <div class="brochure__body-content">
              <div class="search search--small">
                <form (submit)="onSearchByIssueNumber()" method="POST">
                  <div class="search__body">
                    <label for="q5" class="hidden">Search</label>
                    <div class="search__field">
                      <input type="date" name="q5" id="q5" value="" placeholder="البحث حسب ...">
                    </div>
                    <div class="search__select">
                      <select name="search-select-5#" id="search-select-5#" (change)="SearchByIssue($event.target.value)">
                        <option value="2">التاريخ</option>
                        <option value="1">رقم العدد </option>
                      </select>
                    </div>
                    <button type="submit" class="search__btn">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="brochure brochure--green">
          <div class="brochure__head">
            <h3>ملحق اليوم</h3>
          </div>
          <div class="brochure__body">
            <div class="brochure__body-inner">
              <div class="slider slider-brochure js-slider-single">
                <div class="slider__clip swiper-container">
                  <div class="slider__slides swiper-wrapper">
                    <div class="slider__slide swiper-slide">
                      <a routerLink="/Issues">
                        <div class="slider__slide-image">
                          <img src="assets/css/images/temp/brochure-image1.jpg" height="320" width="276" alt="">
                        </div>
                        <div class="slider__slide-content">
                          <span>ملحق يوم الثلاثاء, 4 تشرين الأول 2016</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
              <div class="brochure__body-bar">
                <a routerLink="/Issues">
                  <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                  تصفح ملحق اليوم
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="intro__aside" *ngIf="sharedModel?.leftHomeBanner" target="_blank" [attr.href]="sharedModel.leftHomeBanner?.link">
  <img src="{{CONTENT_PATH + '/BannerPage/' + sharedModel.leftHomeBanner?.image}}" height="693" width="150" alt="">
</a>