<section class="section-news section-beige" *ngIf="firstBoxCategory">
  <div class="shell">
    <div class="section__body">
      <div class="cols">
        <div class="col col--size-4" *ngIf="bigPoliticals">
          <div class="widget-news">
            <header class="widget__head">
              <h3 class="widget__title">
                <a routerLink="/Category/{{firstBoxCategory?.id}}/{{firstBoxCategory?.customUrlTitle}}" class="btn btn-plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                {{firstBoxCategory?.title}}
              </h3>
            </header>
            <div class="widget__body">
              <article class="article-alt article-alt--medium template_522_312">
                <div class="article__image fullsize-image">
                  <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/524x314xo/{{bigPoliticals?.image}}" height="314"
                    width="524" alt="">
                </div>
                <div class="article__content">
                  <h2>
                    <a routerLink="/Details/{{bigPoliticals?.id}}/{{bigPoliticals?.customUrlTitle}}">{{bigPoliticals?.title}}</a>
                  </h2>
                  <div class="article__content-bar">
                    <ul class="list-meta">
                      <li>
                        <a routerLink="/Details/{{bigPoliticals?.id}}/{{bigPoliticals?.customUrlTitle}}">
                          <span class="text-en">{{bigPoliticals?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/Details/{{bigPoliticals?.id}}/{{bigPoliticals?.customUrlTitle}}">
                          <span class="text-en">500</span>
                          <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                    <a routerLink="/Details/{{bigPoliticals?.id}}/{{bigPoliticals?.customUrlTitle}}" class="link link-more">
                      <i class="fa fa-long-arrow-left" aria-hidden="true"></i> إقرأ المزيد
                    </a>
                  </div>
                </div>
              </article>
              <div class="widget__bar" *ngIf="politicalsSmall">
                <div class="articles articles--small articles--small-first">
                  <article class="article article--medium template_147_88" *ngFor="let item of politicalsSmall">
                    <div class="article__image article-bg-image">
                      <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                        <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/142x85xo/{{item?.image}}" height="85" width="142"
                          alt="">
                      </a>
                    </div>
                    <div class="article__content">
                      <h6>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a>
                      </h6>
                      <ul class="list-meta">
                        <li>
                          <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                          <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                            <span class="text-en">500</span>
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </article>
                </div>
              </div>
              <div class="widget__content" *ngIf="politicals">
                <ul class="list-squares list-squares--default">
                  <li *ngFor="let item of politicals">
                    <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a>
                    <ul class="list-meta">
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                          <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                          <span class="text-en">500</span>
                          <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col--size-5" *ngIf="localNews">
          <div class="widget-news widget-news--alt">
            <header class="widget__head">
              <h3 class="widget__title">
                <a routerLink="/Category/{{secondBoxCategory?.id}}/{{secondBoxCategory?.customUrlTitle}}" class="btn btn-plus">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                {{secondBoxCategory?.title}}
              </h3>
            </header>
            <div class="widget__body">
              <ol class="news-items news-items--alt">
                <li class="news-item template_142_85" *ngFor="let item of localNews">
                  <div class="news__image__wrapper">
                    <div class="news__image article-bg-image {{item?.isVideo ? 'news__video' : ''}}">
                      <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                        <span *ngIf="item?.isVideo" class="btn btn-play btn-play--xsmall"></span>
                        <img (error)="sharedService.errorHandler($event)" src="{{RESIZED_CONTENT_PATH}}/142x85xo/{{item?.image}}" height="85" width="142"
                          alt="">
                      </a>
                    </div>
                  </div>
                  <div class="news__content">
                    <h6>
                      <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">{{item?.title}}</a>
                    </h6>
                    <ul class="list-meta">
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                          <span class="text-en">{{item?.date | date: 'dd/MM/yyyy HH:mm' }}</span>
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle}}">
                          <span class="text-en">500</span>
                          <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ol>
              <div class="widget__body-actions">
                <a routerLink="/Category/{{secondBoxCategory?.id}}/{{secondBoxCategory?.customUrlTitle}}" class="link link--red link-more">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i> المزيد
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col col--size-6 hidden-xs" *ngIf="todaysIssues || todaysSupplementIssues">
          <div class="widget-brochures hidden-xs">
            <div class="widget__body">
              <div class="brochures">
                <div class="brochure brochure--red brochure--inline" *ngIf="todaysIssues && todaysIssues.length > 0">
                  <div class="brochure__head">
                    <h3>عدد اليوم </h3>
                  </div>
                  <div class="brochure__body">
                    <div class="brochure__body-inner">
                      <div class="slider slider-brochure js-slider-single">
                        <div class="slider__clip swiper-container">
                          <div class="slider__slides swiper-wrapper">
                            <div class="slider__slide swiper-slide" *ngFor="let item of todaysIssues">
                              <!-- <a target="_blank" [attr.href]="item.pdf != null ? CONTENT_PATH + '/IssueToday/' + item.pdf.replace('.pdf','') + '/arabic.html' : '#'"> -->
                              <a target="_blank" [attr.href]="item.link">
                                <div class="slider__slide-image">
                                  <img src="{{CONTENT_PATH}}/IssueToday/{{item?.image}}" height="320" width="276" alt="">
                                </div>
                                <div class="slider__slide-content">
                                  <span>{{item?.title}}</span>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                      <div class="brochure__body-bar">
                        <!-- <a target="_blank" [attr.href]="todaysIssues[0].pdf != null ? CONTENT_PATH + '/IssueToday/' + todaysIssues[0].pdf.replace('.pdf','') + '/arabic.html' : '#'"> -->
                        <a target="_blank" [attr.href]="todaysIssues[0].link">
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                          تصفح عدد اليوم
                        </a>
                      </div>
                    </div>
                    <div class="brochure__body-content">
                      <div class="search search--small">
                        <form (submit)="onSearchByIssueNumber()" method="POST">
                          <div class="search__body">
                            <label for="q2" class="hidden">Search</label>
                            <div class="search__field">
                              <input type="date" name="q2" id="q2" value="" placeholder="البحث حسب ...">
                            </div>
                            <div class="search__select">
                              <select name="search-select-2#" id="search-select-2#" (change)="SearchByIssue($event.target.value)">
                                <option value="2">التاريخ</option>
                                <option value="1">رقم العدد </option>
                              </select>
                            </div>
                            <button type="submit" class="search__btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="brochure brochure--green" *ngIf="todaysSupplementIssues && todaysSupplementIssues.length > 0">
                  <div class="brochure__head">
                    <h3>ملحق اليوم</h3>
                  </div>
                  <div class="brochure__body">
                    <div class="brochure__body-inner">
                      <div class="slider slider-brochure js-slider-single">
                        <div class="slider__clip swiper-container">
                          <div class="slider__slides swiper-wrapper">
                            <div class="slider__slide swiper-slide" *ngFor="let item of todaysSupplementIssues">
                              <!-- <a target="_blank" [attr.href]="item.pdf != null ? CONTENT_PATH + '/IssueSupplementToday/' + item.pdf.replace('.pdf','') + '/arabic.html' : '#'"> -->
                              <a target="_blank" [attr.href]="item.link">
                                <div class="slider__slide-image">
                                  <img src="{{CONTENT_PATH}}/IssueSupplementToday/{{item?.image}}" height="320" width="276" alt="">
                                </div>
                                <div class="slider__slide-content">
                                  <span>{{item?.title}}</span>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                      <div class="brochure__body-bar">
                        <!-- <a target="_blank" [attr.href]="todaysSupplementIssues[0].pdf != null ? CONTENT_PATH + '/IssueSupplementToday/' + todaysSupplementIssues[0].pdf.replace('.pdf','') + '/arabic.html' : '#'"> -->
                        <a target="_blank" [attr.href]="todaysSupplementIssues[0].link">
                          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                          تصفح ملحق اليوم
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>